@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.imgtitle{
    color: #00566a;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Tools-bg{
    background-color: #05667c!important;
    color: white;
    margin-bottom: 50px!important;
}
.main-dive{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* home product */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    /* height: 290px; */
    max-height: 290px;
    margin-bottom: 20px;
    /* overflow: hidden; */
    z-index: 03;
    margin-left: 10px;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		/* top: 0;
		left: 0; */
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("../../public/images/category/Graphic.png") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("../../public/images/category/Graphic.png") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("../../public/images/category/Graphic.png") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("../../public/images/category/Graphic.png") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    /* left: 20px; */
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

/* product image */
.product_image{
    width: 100%;
    height: auto;
    /* position: absolute; */
}
@media screen and (max-width: 800px) {
    
  }


.my-single-product{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.my-single-product img:hover{
    opacity: 0.5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
.my_part{

}
.my_top_margin{
    margin-top: 10px;
    text-align: left;
    color: black;
}


.hire {
    display: inline-block;
    text-decoration: none;
    background-color: #00566a;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 0 1em 3em -1.25em rgba(0, 0, 0, 0.3);
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    margin: 3em 0;
    overflow: hidden;
  }
  .hire:hover {
    display: inline-block;
    text-decoration: none;
    background-color: #05667c;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 0 1em 3em -1.25em rgba(0, 0, 0, 0.3);
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    margin: 3em 0;
    overflow: hidden;
  }
  
  /* .shine {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: skew(30deg) translateX(-120%);
    background-color: #ffffff;
    -webkit-animation: shine 2s ease infinite;
            animation: shine 2s ease infinite;
  }
  
  @-webkit-keyframes shine {
    0% {
      transform: skew(30deg) translateX(-120%);
    }
    30% {
      transform: skew(30deg) translateX(120%);
    }
    100% {
      transform: skew(30deg) translateX(120%);
    }
  }
  
  @keyframes shine {
    0% {
      transform: skew(30deg) translateX(-120%);
    }
    30% {
      transform: skew(30deg) translateX(120%);
    }
    100% {
      transform: skew(30deg) translateX(120%);
    }
  } */
  .my_center{
    text-align: center;

  }

  .my-section{
    padding: 10px 0 10px!important;
  }